@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.35s;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    z-index: 1;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #1c1c1c;
    color: white;
}

main{
    display: flex;
}

.bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url("/img/thor.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    z-index: -0;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    backdrop-filter: blur(4px);
}

.search-box{
    position: relative;
    width: 40%;
}

.search-ico{
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(202, 202, 202);
    cursor: pointer;
}

.search{
    padding: 6px;
    width: 100%;
    border-radius: 18px;
    border: 2px solid rgba(77, 76, 76, 0.2);
    background: rgba(255, 255, 255, 0.3);
    cursor: default;
    color: rgb(158, 157, 157);
}

.search:hover{
    background: rgba(255, 255, 255, 0.34);
}

.search:focus{
    cursor:text;
    background: rgba(255, 255, 255, 0.3);
}

nav {
    display: flex;
    justify-content: space-around;
    width: 45%;
    align-items: center;
}

ul {
    display: flex;
    width: 75%;
    justify-content: space-around;
}

nav ul li {
    position: relative;
    padding: 10px;
}

nav ul li a {
    color: rgb(207, 207, 207);
    position: relative;
    overflow: hidden;
    font-size: 1.2rem;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(207, 207, 207);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

button.auth{
    padding: 5px 12px;
    border-radius: 0px;
    border: 0px ;
    cursor: pointer;
}

.left{
    width: 60%;
    overflow: hidden;
    word-wrap: nowrap;
    text-overflow: ellipsis;
}

.right{
    width: 40%;
}
.temp-info{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
}

.temp-c{
    font-size: 6vw;
}

.loc-time{
    padding: 0px 10px;
}

.loc{
    font-size: 40px;
}

.time{
    font-size: 13px;
    padding: 0px;
}

.ico-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scale: 1.2;
}

.ico{
    scale: 2;
}

.right{
    padding: 10px 20px;
}


.weather-box{
    padding: 20px 80px;
    border: 1px solid transparent;
    border-radius: 20px;
    /* box-shadow: 0px 0px 20px 1px rgb(223, 223, 223); */
    backdrop-filter: blur(10px);
}

.weather-box *:not(hr) {
    padding: 4px 0px;
    color: rgb(201, 200, 200);
    font-size: 1.02rem;
}

hr{
    margin: 15px 0px;
}

.weather-box h3{
    color: rgb(206, 204, 204);
}
.flex-info{
    display: flex;
    justify-content: space-between;
}
